.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contacto__titulo {
    color: #4f4c4c;
    font-weight: 700;
    font-size: 24PX;
    font-family: ´montserrat´, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}

.contacto__boton {
    color: #e33838;
    font-weight: 700;
    border-color: #e33838;
    font-size: 18px;
    margin-top: 30px;
}